<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TBC Automation Suite" parallel="false">


    <test name="automationTasktbcbank">
        <classes>
            <class name="automationTasktbcbank.ge.automationTaskTbcBank"/>
                <class name="automationTasktbcbank.ge.mobileAutomationTaskTbcBank">

            </class>


        </classes>
    </test>

</suite>
